# runtime.txt'ye geçtiğimiz için artık tüm versiyonları sabitlememiz kritik
Flask==3.0.3
flask-cors==4.0.0
bcrypt==4.0.1
psycopg2-binary==2.9.9
Flask-Mail==0.9.1
itsdangerous==2.1.2
python-dotenv==1.0.0

# ML / Veri işleme için (Python 3.10 ile uyumlu versiyonlar)
pandas
numpy 
scikit-learn
names
# HTTP istekleri
requests==2.32.3
gunicorn==22.0.0
setuptools
wheel
httpx         # Bu satır yeni eklendi
asyncio