<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Film Öneri Sistemi{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-top">
<div class="header-left">
        <h1><a href="/" id="home-link">Filma</a></h1>
        <div class="search-container">
            <form id="search-form" action="/search" method="GET">
                <input type="text" id="search-box" name="q" placeholder="Film ara...">
                <select id="year-select" name="year">
                    <option value="">Yıl Seç</option>
                </select>
                <select id="genre-select" name="genre">
                    <option value="">Tür Seç</option>
                </select>
                <select id="imdb-select" name="imdb_rating">
                    <option value="">Min. IMDb Puanı</option>
                </select>
                <button type="submit" id="search-button">Ara</button>
            </form>
        </div>            
        </div>
        <div class="right-nav-group">
                {% block nav_links %}
                <!-- Nav links child template'lerde override edilecek -->
                {% endblock %}
                
                <nav class="user-info hidden">
                    <div class="user-avatar" id="user-initial-avatar">Z</div>
                    <span id="welcome-message" class="user-name-display">Hoş geldin, Kullanıcı!</span>
                    <div class="dropdown-content" id="user-dropdown-menu">
                        <a href="#" id="logout-link" class="dropdown-logout-link">Çıkış Yap</a>
                    </div>
                </nav>
            </div>
    </header>

    <main> 
        {% block content %}
        <!-- İçerik child template'lerde gelecek -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Film Öneri Sistemi</p>
    </footer>

    {% block scripts %}
    <!-- Scriptler child template'lerde gelecek -->
    {% endblock %}
</body>
</html>